html {
  font-family: "Overpass", sans-serif;
  color: #fff;
  background-image: linear-gradient(#ff9500, #ff5e3a);
  background-size: cover;
}

.btn {
  color: #fff;
  border-color: #fff;
}

.btn:hover {
  border-color: rgba(255, 255, 255, 1);
}

.btn-ghost:hover {
  border-color: #fff;
  background-color: rgba(255, 255, 255, 1);
  color: #ff9500;
}

@media only screen and (min-width: 60em) {

  .two {
    padding-top: 60px;
  }
  .three {
    padding-top: 60px;
  }

  .unit {
    padding-left: 20px;
    padding-right: 20px;
  }

}
